 <IfModule version.c>
    <IfVersion >= 2.4>
	Require all granted
    </IfVersion>
    <IfVersion < 2.4>
	Order deny,allow
	Allow from all
	</IfVersion>
</IfModule>

<IfModule mod_headers.c>
	Header set X-Robots-Tag "noindex"
	<FilesMatch "\.(png|gif)$">
	Header set Cache-Control "max-age=290304000, public"
	</FilesMatch>
</IfModule>