 <IfModule version.c>
  <IfModule filter_module.c>
    <IfVersion >= 2.4>
	Header set X-Robots-Tag "noindex"
    </IfVersion>
    <IfVersion <= 2.2>
	Header set X-Robots-Tag "noindex"
	</IfVersion>
</IfModule>
</IfModule>