<html>
<head>
</head>
<body>
<pre>
<h2>Disclaimer</h2>

ExtraWatch makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, ExtraWatch does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.

<h2>Limitations</h2>
In no event shall ExtraWatch or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on ExtraWatch’s site, even if ExtraWatch or a ExtraWatch authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.

<h2>Indemnification</h2>
You agree to indemnify, hold harmless and (if requested by ExtraWatch) defend ExtraWatch, at your expense, against any and all third-party claims, actions, proceedings, and suits asserted against ExtraWatch or any of its officers, directors, employees, agents or affiliates, and all related liabilities, damages, settlements, penalties, fines, costs or expenses (including, without limitation, reasonable attorneys' fees) incurred by ExtraWatch or any of its officers, directors, employees, agents or affiliates, arising out of or relating to

your breach of any term or condition of this Agreement,
your use of the Services, or
your unauthorized use of the ExtraWatch Script.
In such instances, ExtraWatch will provide you with electronic and written notice of such third-party claim, action, proceeding, or suit to the last e-mail address and mailing address furnished to ExtraWatch within 30 days of learning of such claim. You shall cooperate as fully as reasonably required in the defense of any claim. ExtraWatch reserves the right, at its own expense, to assume the exclusive defense and control of any matter subject to indemnification by you.


<h2>Subscription Agreement</h2>
Terms and Conditions of Use of ExtraWatch service

ExtraWatch is provided by CodeGravity.com

By accessing our web site and creating a subscription, agree to be bound by these terms and conditions of use. 

You are responsible for compliance with any applicable local laws and regulations.

it is your responsibility to ensure that client is aware of all functions ExtraWatch performs and the privacy policies.

If you do not agree with any of these terms, you are prohibited to use this service.

CodeGravity.com grants you a non-exclusive licence allowing you to use ExtraWatch for the duration of this agreement. 

The licence granted shall start on the date the subscription account is created and continue until this agreement is terminated.

You agree and allow ExtraWatch to store and collect data from your web site.  

The data within ExtraWatch is stored on Cloud Web Services and You are responsible for the correct implementation of ExtraWatch under applicable laws. 

You will have and abide by an appropriate privacy policy and will comply with all applicable laws relating to the collection of information from visitors to your website; 

providing appropriate statements of disclosure regarding your use of ExtraWatch.

At any point in time, some of the functionality available within ExtraWatch may be changed, updated, enhanced or removed with the intention of improving the overall value created for users of the product and you acknowledge that these changes may be made.

You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, ExtraWatch, or any other ExtraWatch service.

You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the ExtraWatch’s service, or access to ExtraWatch without the express written permission by CodeGravity.com.

The bit about what happens if you want to stop using ExtraWatch


ExtraWatch is offered as a subscription-based service. 

After completing registration process, you will be provided with the code snippets to implement ExtraWatch on your web site.

You are responsible for all activities that relate to your ExtraWatch account. 

You may not use ExtraWatch for any illegal purpose, nor violate any applicable laws.



<h2>Term & Termination</h2>
You can cancel your account and subscription at any time by contacting ExtraWatch and requesting an account cancellation.

No further payments will be taken after your cancellation request has been processed.

Once your account is closed, we recommend that you remove the ExtraWatch Javascript code from your web site.

CodeGravity.com reserves the right, at its discretion, for any reason to:

Refuse any new account subscription

Suspend or terminate any active account.

Violation of any of these terms and conditions may result in the immediate termination of your ExtraWatch account.

ExtraWatch is offered as either a Free Plan or a Paid Plan. Whichever plan you choose you must subscribe and agree to these Terms and Conditions. 

Plans are determined by the number of visits and the number of domains a user can track.

ExtraWatch cannot guarantee the security of such information and is not responsible for unauthorized access to client accounts.

ExtraWatch has implemented reasonable security mechanisms to protect your information and Client Data from loss, misuse and unauthorized access, disclosure, alteration and destruction. Examples of these security mechanisms include limited access and SSL encryption to protect transmission of data. However, please keep in mind that no security system is impenetrable. It may be possible for third parties to intercept or access your data, information you provide to ExtraWatch, information we compile on your behalf, and/or information that we collect about you. 

From time to time, staff employed by CodeGravity.com may require access to your ExtraWatch account and the information recorded within it for the purposes of product support, audit, maintenance and enhancement. You hereby agree and authorise access to the data recorded within your account by CodeGravity.com staff for these purposes.

CodeGravity.com is not liable for any loss and/or damage resulting from your failure to comply with this obligation. You should notify CodeGravity.com immediately upon learning of any unauthorized use of your ExtraWatch account or any other breach of security.

ExtraWatch does not guarantee, and shall have no liability for, any Services downtime, including, without limitation, any downtime

<h2>Applicable Law</h2>
This agreement shall be governed by the laws of Slovak Republic, European Union.

</pre>
</body>