 <IfModule version.c>
  <IfModule filter_module.c>
    <IfVersion >= 2.4>
	Require all granted
	Header set X-Robots-Tag "noindex"
    </IfVersion>
    <IfVersion <= 2.2>
	Order deny,allow
	Allow from all
	Header set X-Robots-Tag "noindex"
	</IfVersion>
</IfModule>
</IfModule>

<FilesMatch "\.(css)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>